ACTION=="add", SUBSYSTEMS=="usb", KERNEL=="sd*", RUN+="/bin/systemctl start usb-mount@%k.service"
ACTION=="remove", SUBSYSTEMS=="usb", KERNEL=="sd*", RUN+="/bin/systemctl stop usb-mount@%k.service"
